!!! 5
%html
  %head
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    %h1
      This is a Sinatra API server.